<div class="row">
  <input type="text" placeholder="Search" />
</div>
<button (click)="onUser()" >affiche users</button>
<table class="responstable">
    <thead>
  
  <tr> 
    <th data-th="Driver details"><span>USERNAME</span></th>
    <th>NOM</th>
    <th>ROLE</th>
    <th>IMAGE</th>
    <th>STATUT</th>
    <th>EDITER</th>
    <th>SUPPRIMER</th>
  </tr>
  
  <tr *ngFor="let user of users |filter:searchText; let i = index">
    <td>{{ user.username }}</td>
    <td>{{ user.nomComplet }}</td>
    <td>{{user.role.libelle}}</td>
    <td><img [src]="AfficheImage(user)" alt="" ></td>
    <td>
      <div *ngIf="user.isActive; else elseBlock">
        <span class="badge badge-success badge-pill" (click)="onActive(user.id,user.isActive)">
          <i class="fa fa-thumbs-up"></i>
        </span>
      </div>
    <ng-template #elseBlock>
      <span class="badge badge-danger badge-pill" (click)="onActive(user.id,user.isActive)">
        <i class="fa fa-thumbs-up"></i>
      </span>
    </ng-template>
    
  </td>
  <td>
    <button class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
  </td>
  <td>
    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
  </td>
  </tr>
  </thead>
</table>